<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<h1>Edit book</h1>
<hr/>

<form th:method="PATCH" th:action="@{/book/{id}(id = ${book.getBook_id()})}" th:object="${book}">
    <label for="name">Enter author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error author</div>
    <br/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error name</div>
    <br/>
    <label for="name">Year: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error year</div>
    <br/>
    <input type="submit" value="Update!">
</form>

<hr/>
<form th:method="GET" th:action="@{/book/{id}(id = ${book.getBook_id()})}">
    <input type="submit" value="Back"/>
</form>

</body>
</html>