<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>
<h1>List of all books</h1>
<hr/>
<div th:each="b : ${book}">
    <a th:href="@{/book/{id}(id = ${b.getBook_id()})}"
       th:text="${b.getName()} + ', ' + ${b.getAuthor()} + ', ' + ${b.getYear()}">user</a>
</div>
<hr/>
<form th:method="GET" th:action="@{/book/new}">
    <input type="submit" value="Create new book"/>
</form>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="To all people"/>
</form>
</body>
</html>