<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person info</title>
</head>
<body>
<h1>Person info</h1>
<hr/>
<div>
<p th:text="'name: ' + ${person.getName()}">VALUE</p>
<p th:text="'year: ' + ${person.getYearOfBirth()}">VALUE</p>
<hr/>
</div>
<div th:if="${!books.isEmpty()}">
    <p th:text="'Books: '"/>
    <ol th:each="book:${books}">
        <li>
            <p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"/>
        </li>
    </ol>
</div>
<div th:unless="${!books.isEmpty()}">
    <p th:text="'The person has not yet taken a single book.'"/>
    <hr/>
</div>
<form th:method="GET" th:action="@{/people/{id}/edit(id = ${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Back"/>
</form>

</body>
</html>